<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header">
<meta charset="UTF-8">
<title>About</title>
</head>
<body>
	<div th:replace="fragments/navbar"></div>
	<div1>
	<h3>Finding a heaven while finding a vacation place!</h3>
	<p>When He established the heavens, when He laid out the horizon on
		the surface of the ocean.</p>
	<p>The Dream Team is here to assist you in finding your heaven (the
		perfect location that makes you feel alive)</p>
		</hr>
	<p>
	About Dream Team Vacations
	Our mission here at Dream Team Vacations is to provide our customers with their dream holiday residence. 
	Spending some time away from the hustle and bustle of day-to-day life is a necessity for all people. 
	Whether it be a once-in-a-lifetime stay or your annual home away from home, Dream Team is here to provide you 
	with the best property for a healing and renewing vacation.
	Click below to peruse our rentals located in Whittier, North Carolina; Seoul, South Korea; and Kigali, Rwanda.
	</p>
	</div1>
	<div1 class="card-body">
		<!-- <iframe -->
		<img
			src="http://nymensministry.files.wordpress.com/2013/01/sea-ocean-horizon-sky-clouds-dawn-sunset-nature.jpg"
			width="450" height="350" class="card-img-top">
		<!-- </iframe> -->
		<!-- <iframe src="https://i.giphy.com/media/S5JSwmQYHOGMo/200.gif" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
	</div1>
</body>
</html>